<div class="py-5 bg-dark vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex justify-content-center">
                <img src="../../../../assets/swipe.svg" class="img-entrar" />
            </div>
            <div class="col-md-4">
                <h2 class="text-white">Selecione o cliente para iniciar</h2>
                <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example" #selectItem>
                        <option *ngFor="let item of clients; let i = index" value="{{i}}"> {{item?.name}} </option>                        
                    </select>                    
                </div>
                <div class="btn btn-primary w-100" (click)="confirmar(selectItem.value)">
                    Confirmar
                </div>
            </div>
        </div>
    </div>
</div>