<div class="bg-dark vh-100">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <img src="https://uploads-ssl.webflow.com/5e2088af647de0b43c9ff21d/606dc99cb0437e8617384ea0_MovimentoTransformacional%20black.png"
                            id="icon" alt="User Icon" />
                    </div>
                    <form>
                        <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail" [(ngModel)]="email">
                        <input type="submit" class="fadeIn fourth" value="Entrar" (click)="entrarEmail()">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
