<div class="min-vh-100 bg-dark text-white py-4 text-center">
    <div class="container">
        <h1>Masterclass: Entenda como a mente funciona</h1>
        <h2>Aprenda Psicologia e Hipnose</h2>
        <div class="myBoxGlass mt-3">
            <h3>Voce ja entrou no grupo masterclass?</h3>
            <a href="https://forms.gle/aJ8vsxugZLWyj4uN8">
                <span>Sim, ja estou no grupo</span>
                <div class="liquid"></div>
            </a>
            <a href="https://forms.gle/aJ8vsxugZLWyj4uN8">
                <span>Não, ainda não estou no grupo</span>
                <div class="liquid"></div>
            </a>
        </div>
    </div>
</div>