.btn-home{
    padding: 9px 15px;
    border-radius: 10px;
    background-color: transparent;
    background-image: linear-gradient(246deg, #ff4e00, #ff8c00);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
  }
  .title-home{
    font-size: 38px;
    line-height: 44px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffa434;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
  }
  .section-home{
    background-color: #000;
    border-bottom: 4px solid #ff8c00;
    color: #FFF;
    text-align: center;
  }
  .header-home{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("https://uploads-ssl.webflow.com/5e2088af647de0b43c9ff21d/5f91bfd2116ca301de38d8ef_backgraundSBTN.png");
    background-position: 0px 0px, 50% 45%;
    background-size: auto, cover;
  }
  .background-exagono{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("https://uploads-ssl.webflow.com/5e2088af647de0b43c9ff21d/5f355950bb003f6acbb9b4ee_example.png");
    background-position: 0px 0px, 50% 45%;
    background-size: auto, cover;
  }
  .logo-home{
    width: 400px;
  }
  .img-home{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .circle-background{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex: 0 auto;
    border: 1px solid #fff;
    border-radius: 999999px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://uploads-ssl.webflow.com/5e2088af647de0b43c9ff21d/5e4d6150cbc03a2bc3f2393e_futuristic-technology-background-hd-overlay-115379004773cf6twdsmd.png");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
  .container-center{
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
  }
  .coluna-preencher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .coluna-centralizar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  @media only screen and (max-width: 750px) {
    .logo-home{
      width: 255px;
    }
    .container-center{
      padding: 0px 13px;
    }
    .title-home{
      font-size: 34px;
    line-height: 36px;
    font-weight: 680;
    }
  }
